/* Registration.css */

.name-row {
    display: flex;
    gap: 10px;
}



.registration-container1 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.registration-form1 {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #ffffff;
}

.registration-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.label-row {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.label1 {
    font-weight: bold;
    width: 180px;
}

.input-row {
    display: flex;
    gap: 10px;
}

.input1 {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



.button1 {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button1:hover {
    background-color: #45a049;
}